<div id="home-container">
  <div class="white-border-glass-box">
    <div class="home-head-container">
      <div class="row" *ngIf="user">
        <div class="col-md-auto">
          <div class="avatar-frame-online">
              <img src="{{ user.avatar || 'assets/img/generic_avatar.png'}}" id="home-avatar-picture">
          </div>
        </div>
        <div class="col">
          <b>{{user.nick}}</b>
          <div>
            <span>{{user.status}}</span><br/>
            <span>(Escribir mensaje personal)</span><br/>
            <a (click)="logout()">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contenido inferior -->
  <div class="white-container-padded margin-top-15">
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" placeholder="Buscar amigo" [(ngModel)]="query">
      </div>
      <div class="col-md-auto">
        <img (click)="open(content)" class="icon" src="assets/img/logo_live_add.png">
      </div>
    </div>
    <hr />
    <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}})</b>
    <div class="disblock margin-bottom-5" *ngFor="let user of friends | search: query">
        <span routerLink="/conversation/{{user.uid}}">
          <img class="status-icon" src="../../assets/img/logo_live_{{user.status}}.png"><b>{{user.nick}}</b> - {{user.subnick || 'Sin Apodo'}}
          <small>{{user.email}}</small>
        </span>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <b>Ingresa el email de tu amigo</b>
      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="friendEmail" (keyup.enter)="sendRequest()">

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
  </div>
</ng-template>