<div id="home-container">
  <div class="white-border-glass-box">
    <div class="home-head-container">
      <div class="row" *ngIf="user">
        <div class="col-md-auto">
          <div class="avatar-frame-online">
              <img src="{{ user.avatar || 'assets/img/generic_avatar.png'}}" id="home-avatar-picture">
          </div>
        </div>
        <div class="col">
          <b>{{user.nick}}</b>
          <div>
            <span>{{user.status}}</span><br/>
            <span>(Escribir mensaje personal)</span><br/>
            <a (click)="logout()">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contenido inferior -->
  <div class="white-container-padded margin-top-15">
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" placeholder="Buscar amigo" [(ngModel)]="query">
      </div>
      <div class="col-md-auto">
        <img class="icon" src="assets/img/logo_live_add.png">
      </div>
    </div>
    <hr />
    <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}})</b>
    <div class="disblock margin-bottom-5" *ngFor="let user of friends | search: query">
        <span routerLink="/conversation/{{user.uid}}">
          <img class="status-icon" src="../../assets/img/logo_live_{{user.status}}.png"><b>{{user.nick}}</b> - {{user.subnick || 'Sin Apodo'}}
          <small>{{user.email}}</small>
        </span>
    </div>
  </div>



</div>